.line {
	position: relative;
	top: 80%;
	width: 10em;
	margin: 30px auto;
	border-right: 4px solid rgba(255, 255, 255, 0.75);
	font-size: 300%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);

	@media screen and (max-width: 500px) {
		font-size: 24px;
	}
}

.anim-typewriter {
	animation: typewriter 4s steps(30) 1s 1 normal both,
		blinkTextCursor 500ms steps(30) infinite normal;
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 10em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}
