@import './base';

.projects {
	padding: 60px 45px;
	background-color: $color-secondary;
}

.projects-inner {
	max-width: 1200px;
	width: 70%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 45px;
	grid-row-gap: 45px;

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (max-width: 500px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.project-item {
	width: 300px;
	border: 3px solid black;

	h4 {
		color: $color-black;
		font-size: 1.5rem;
		font-weight: normal;
		margin: 0;
	}

	p {
		color: $color-black;
		margin: 0;
		line-height: 1.6;
	}

	img {
		width: 100%;
	}
}

.about {
	padding: 20px 45px;
	background-color: $color-secondary;
}

.about-inner {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(minmax(300px, 1fr));
	grid-column-gap: 45px;
	grid-row-gap: 45px;
}

.about-item h6 {
	color: $color-black;
	font-size: 2.5rem;
	font-weight: normal;
	margin: 0;
	font-weight: bold;
}

.about-item p {
	color: $color-black;
	margin: 0;
	line-height: 1.6;
}
