
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');




$font-display: "Roboto", sans-serif;

$color-primary: #333333;
$color-secondary: #33cc33;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-display;
}




h1 {
    text-align: center;
    font-family: $font-display;
    font-size: 100px;
    font-weight: bold;
    padding: 20px;
}

.gameBoard {
  margin: 100px auto;
  width: 800px;
  height: 800px;
  background-color:$color-primary;
  border: 9px solid rebeccapurple;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  clear: left;

}


.gameBoard:hover {
    background-color: red;
}




.space {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: bold;
  font-family: sans-serif;
  border: 6px solid $color-secondary;
  border-radius: 3px;
  
}




.playerZero {
  background-image: url("images/iconfinder_352338_exposure_zero_icon_256px.png");
  background-color: blueviolet;
}

.playerX {
  background-image: url("images/iconfinder_4634454_delete_interface_remove_x_x mark_icon_256px.png");
  background-color: chartreuse;
}