@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

h1 {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 100px;
	font-weight: bold;
	padding: 20px;
}

h3 {
	font-size: 30px;
	padding-top: 20px;
	text-align: center;
	color: crimson;
}

.gameBoard {
	margin: 100px auto;
	width: 450px;
	height: 550px;
	background-color: #333333;
	border: 9px solid rebeccapurple;
	border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	clear: left;
}

.gameBoard:hover {
	background-color: red;
}

.endGame {
	text-align: center;
}

.restartbtn {
	padding: 20px;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.space {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4em;
	font-weight: bold;
	font-family: sans-serif;
	border: 6px solid #33cc33;
	border-radius: 3px;
}

.newWinner {
	text-align: center;
	margin-bottom: 35px;
	font-weight: bold;
	font-size: 40px;
}

.tie {
	text-align: center;
	margin-bottom: 35px;
	font-weight: bold;
	font-size: 40px;
}

@media screen and (max-width: 550px) {
	h1 {
		font-size: 50px;
	}

	.restartbtn {
		font-size: 50px;
	}
}
