body {
	background-color: aquamarine;
	display: flex;
	justify-content: center;
}

.ships {
	display: flex;
	flex-direction: row;
	/* height: 500px; */
	/* width: 500px; */
}

.mothership {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.defenceship {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.attackship {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;

	margin-top: 210px;
	/* height: 400px; */
}

.MS-container {
	background-color: bisque;
	height: 50px;
	width: 50px;
	border-radius: 75px;
	margin-left: 5px;
	margin-top: 300px;

	font-size: 20px;
}

.DS-container {
	background-color: bisque;
	height: 50px;
	width: 50px;
	border-radius: 75px;
	margin-left: 250px;
	/* margin-top: 300px; */
	align-items: center;
	font-size: 20px;
}

.AS-container {
	background-color: bisque;
	height: 50px;
	width: 50px;
	border-radius: 75px;
	margin-left: 550px;
	margin-top: 100px;
	align-items: center;
	font-size: 20px;
}

.hit {
	height: 150px;
	width: 400px;
	border-radius: 20px;
	font-size: 30px;
}

.btn-class {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	margin: 0 auto;
	margin-top: 20px;
	position: absolute;
}
