@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body: "Roboto" , sans-serif;
$font-display: "Dancing script" , cursive; 


$color-secondary: #f0a500;
$color-primary: #28527a;
$color-black: #333333;
$color-white: #fafafa;

* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   font-family: $font-body;
   color: $color-black;
   background-color: $color-secondary; 
}


a:link,
a:visited {
   text-decoration: none;
} 


